body{
    margin: 0;
    padding: 0;
    background: url(https://media.discordapp.net/attachments/885905429169860610/894585530564624424/5th-section.jpg?width=1173&height=586);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    /* input */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.box{
    padding: 0;
    border: 2px solid white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*height: 400px;*/
    /*width: 500px;*/
    backdrop-filter: blur(10px);

}
.boxbox{


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 30px;
}

.boxbox input{
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin: 10px;
    /*width: 100px;*/
}

.boxbox button{
    padding: 8px;
    border: none;
    border-radius: 100px;
    outline: none;
    margin: 10px;
    /*width: 50px;*/
    background-color: rgba(74, 74, 151, 0.842);
    color: white;
}



